.body {
    display: grid;
    height: 100vh;
    grid-template-rows: 48px 1fr;
    grid-template-columns: 6fr 1fr;
  }
  
  .body__header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .body__main-router {
    overflow-y: auto;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 0px 1fr 64px;
  }
  
  
  .body__footer {
    grid-column: 1 span(3);
  }
  
  @media screen and (max-width: 768px) {
    .body {
      grid-template: 64px 1fr / 1fr;
      height: 100vh;
    }
  
    .body__header {
      grid-column: 1 / 2;
    }
  
    .body__main-router .body__footer {
      grid-column: 1 / 2;
    }
  
    .body__main-router {
      display: grid;
      grid-template-rows: 0px auto 64px;
      grid-template-columns: 100%;
    }
  
  }
  