<footer>
    <footer class="footer">
        <div class="footer-top">
            <div class="footer-nav">
                <div class="nav-logo">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-book-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" /><path d="M19 16h-12a2 2 0 0 0 -2 2" /><path d="M9 8h6" /></svg>
                  <h3 class="nav-title">Pingüinera</h3>
                </div>
                <ul class="footer-nav-list">
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Inicio</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Catálogo</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Novedades</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Contacto</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Ayuda</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom-text">&copy; Copyright 2024, All Rights Reserved by Pingüinera</p>
            <ul class="footer-bottom-list">
                <li class="footer-bottom-item"><a class="footer-bottom-link" href="#">PRIVACY POLICY</a></li>
                <li class="footer-bottom-item"><a class="footer-bottom-link" href="#">TERMS &amp; CONDITIONS</a></li>
            </ul>
        </div>
    </footer>
  </footer>